{% extends 'base.html' %}
{% block content %}

<div class="content-wrapper">

  <div class="row">
    <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add New Teacher information (නව ගුරු තොරතුරු ඇතුලත් කරන්න)</h4>

          <form class="forms-sample">
            
            <div class="form-group">
              <label for="fullname">Teacher Full Name (ගුරු භවතාගේ සම්පුරණ නම)</label>
              <textarea class="form-control" id="fullname" rows="4" placeholder="Teacher Full Name (ගුරු භවතාගේ සම්පුරණ නම)"></textarea>
            </div>
            
            <div class="form-group">
              <label for="fullnameinitials">Full Name with Initials (මුලකුරු සමග නම)</label>
              <textarea class="form-control" id="fullnameinitials" rows="4" placeholder="Full Name with Initials (මුලකුරු සමග නම)"></textarea>
            </div>

            <div class="form-group">
              <label for="dob">Date of Birth (උපන් දිනය)</label>
              <input type="date" class="form-control" id="dob" placeholder="Date of Birth (උපන් දිනය)">
            </div>

            <div class="form-group">
              <label for="nic">NIC Number (ජාතික හැදුනුම්පත් අංකය)</label>
              <input type="text" class="form-control" id="nic" placeholder="NIC Number (ජාතික හැදුනුම්පත් අංකය)">
            </div>

            <div class="form-group">
              <label for="address">Private Address (පුද්ගලික ලිපිනය)</label>
              <textarea class="form-control" id="address" rows="4" placeholder="Private Address (පුද්ගලික ලිපිනය)"></textarea>
            </div>

            <div class="form-group">
              <label for="distance">Distance of Home to Service Place (නිවසේ සිට සේවා ස්ථානයට ඇති දුර)</label>
              <input type="text" class="form-control" id="distance" placeholder="Distance of Home to Service Place (නිවසේ සිට සේවා ස්ථානයට ඇති දුර)">
            </div>

            <div class="form-group">
              <label for="">Telephone Numbers (දුරකථන අංක)</label>
              <input type="text" class="form-control" id="landnumber" placeholder="Land Line (ස්ථාවර)">
              <br/>
              <input type="text" class="form-control" id="mobilenumber" placeholder="Mobile (ජංගම)">
            </div>

            <div class="form-group">
              <label for="email">Email Address (විද්‍යුත් ලිපිනය)</label>
              <input type="email" class="form-control" id="email" placeholder="Email Address (විද්‍යුත් ලිපිනය)">
            </div>

            <div class="form-group">
              <label for="marriedpersonname">Married Person's Name (කලත්‍රයාගේ නම)</label>
              <textarea class="form-control" id="marriedpersonname" rows="4" placeholder="Married Person's Name (කලත්‍රයාගේ නම)"></textarea>
            </div>

            <div class="form-group">
              <label for="marriedpersonjob">Married Person's Job and Service Place (කලත්‍රයාගේ රැකියාව සහ සේවා ස්ථානය)</label>
              <textarea class="form-control" id="marriedpersonjob" rows="4" placeholder="Married Person's Job and Service Place (කලත්‍රයාගේ රැකියාව සහ සේවා ස්ථානය)"></textarea>
            </div>

            <div class="form-group">
              <label for="originalappointment">Date of Original Appointment (මුල් පත්වීම් දිනය)</label>
              <input type="date" class="form-control" id="originalappointment" placeholder="Date of Original Appointment (මුල් පත්වීම් දිනය)">
            </div>

            <div class="form-group">
              <label for="gradeclass">Teacher/Principal Grade and Class (ගුරු/විදුහල්පති ශේණිය හා පංතිය)</label>
              <input type="text" class="form-control" id="gradeclass" placeholder="Teacher/Principal Grade and Class (ගුරු/විදුහල්පති ශේණිය හා පංතිය)">
            </div>

            <div class="form-group">
              <label for="salaryimplementdate">Salary Implement Date (වැටුප් වර්ධක දිනය)</label>
              <input type="text" class="form-control" id="salaryimplementdate" placeholder="Salary Implement Date (වැටුප් වර්ධක දිනය)">
            </div>

            <div class="form-group">
              <label for="servicedschools">Previous Serviced Schools (මෙතෙක් සේවයකල පාසල්)</label>
              <textarea class="form-control" id="servicedschools" rows="5" placeholder="Previous Serviced Schools (මෙතෙක් සේවයකල පාසල්)"></textarea>
            </div>

            <div class="form-group">
              <label for="educationqualifications">Education Qualifications (අධ්‍යාපන සුදුසුකම්)</label>
              <textarea class="form-control" id="educationqualifications" rows="5" placeholder="Education Qualifications (අධ්‍යාපන සුදුසුකම්)"></textarea>
            </div>

            <button type="button" id="btn" class="btn btn-primary mr-2">Add (ඇතුලත් කරන්න)</button>
            <button class="btn btn-light">Cancel (ඉවත් වන්න)</button>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>

<script>

  $(function () {
    $('#btn').click(function () {

      var fullName = $('#fullname').val();
      var fullNameInitials = $('#fullnameinitials').val();
      var dob = $('#dob').val();
      var nic = $('#nic').val();
      var address = $('#address').val();
      var distance = $('#distance').val();
      var landNumber = $('#landnumber').val();
      var mobileNumber = $('#mobilenumber').val();
      var email = $('#email').val();
      var marriedPersonName = $('#marriedpersonname').val();
      var marriedPersonJob = $('#marriedpersonjob').val();
      var originalAppointment = $('#originalappointment').val();
      var gradeClass = $('#gradeclass').val();
      var salaryImplementDate = $('#salaryimplementdate').val();
      var servicedSchools = $('#servicedschools').val();
      var educationQualifications = $('#educationqualifications').val();

      var title = "Add New Teacher Information (නව ගුරු තොරතුරු ඇතුලත් කරන්න)";

      if (fullName == "" || fullNameInitials == "" || dob == "" || nic == "" || address == "" || distance == "" || educationQualifications == "") {
        swal.fire(title, "Fields are empty! (ආදාන ක්ෂේත්‍ර හිස්ය!)", "warning");

      } else {

        var form_data = new FormData();
        form_data.append('fullName', fullName);
        form_data.append('fullNameInitials', fullNameInitials);
        form_data.append('dob', dob);
        form_data.append('nic', nic);
        form_data.append('address', address);
        form_data.append('distance', distance);
        form_data.append('landNumber', landNumber);
        form_data.append('mobileNumber', mobileNumber);
        form_data.append('email', email);
        form_data.append('marriedPersonName', marriedPersonName);
        form_data.append('marriedPersonJob', marriedPersonJob);
        form_data.append('originalAppointment', originalAppointment);
        form_data.append('gradeClass', gradeClass);
        form_data.append('salaryImplementDate', salaryImplementDate);
        form_data.append('servicedSchools', servicedSchools);
        form_data.append('educationQualifications', educationQualifications);

        $.ajax({
          url: "/add_new_teacher",
          enctype: 'multipart/form-data',
          data: form_data,
          contentType: false,
          cache: false,
          processData: false,
          type: 'POST',
        })
          .done(function (data) {
            if (data.redirect) {
              window.location.href = data.redirect;
            }
            else if (data.success) {
              Swal.fire(title, data.success, "success");
              document.getElementById("form_login_account").reset();
            }
            else if (data.error) {
              Swal.fire(title, data.error, "warning");
            }
            else {
              Swal.fire(title, "Some error occur! (යම් දෝෂයක් සිදු වේ!)", "warning");
            }
          });

      }

      event.preventDefault();
    });
  });

</script>

{% endblock %}